.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: #FF6060;
    & h1{
        font-size:200px;
        font-weight: 700;
        @media  screen and (max-width:768px){
            font-size:96px;
        }
    }
    &__text {
        font-size: 36px;
        @media  screen and (max-width:768px){
            text-align: center;
            font-size:18px;
        }
    }
    &__link {
        color: #FF6060;
        text-decoration: underline #FF6060;
        font-size: 18px;
        @media  screen and (max-width:768px){
            font-size:14px;
        }
    }
    @media  screen and (max-width:768px){
        justify-content: center;
    }
}
