* {
  font-family: "Montserrat", sans-serif;
}

.carrousel {
  position: relative;
}
.carrousel__img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .carrousel__img {
    height: 255px;
  }
}
.carrousel__arrow {
  position: absolute;
  bottom: 35%;
  z-index: 3;
  width: 96px;
  height: 120px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .carrousel__arrow {
    width: 24px;
    height: 24px;
    bottom: 45%;
  }
}
.carrousel__arrow--right {
  right: 20px;
}
.carrousel__arrow--left {
  left: 20px;
}
.carrousel__counter {
  position: absolute;
  bottom: 20px;
  right: 50%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -2px;
}
@media screen and (max-width: 768px) {
  .carrousel__counter {
    display: none;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  color: #FF6060;
  padding: 30px 0px;
}
.title__info {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .title__info {
    width: 100%;
    font-size: 30px;
  }
}
.title h1 {
  font-size: 51px;
  font-weight: 300;
  line-height: 50px;
  padding-bottom: 10px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 34px;
  }
}
.title p {
  font-size: 18px;
  padding-bottom: 20px;
}
@media screen and (max-width: 425px) {
  .title p {
    font-size: 24px;
    padding: 5px;
  }
}
.title img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 64px;
}
@media screen and (max-width: 425px) {
  .title img {
    width: 32px;
  }
}
.title__name {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  height: 64px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .title__name {
    gap: 5px;
    order: 4;
    width: auto;
  }
}
@media screen and (max-width: 425px) {
  .title__name {
    display: flex;
    align-items: center;
  }
}
.title__name p {
  width: 90px;
}
@media screen and (max-width: 425px) {
  .title__name p {
    font-size: 12px;
    flex-wrap: wrap;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    width: 100%;
  }
}

.retail {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  justify-content: space-between;
  width: 70%;
}
.retail__tagline {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .retail__tagline {
    width: 100%;
  }
}
.retail p {
  color: white;
  background-color: #FF6060;
  padding: 5px 40px;
  border-radius: 10px;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .retail p {
    font-size: 15px;
    padding: 5px 40px;
  }
}

.star {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .star {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}
.star img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 768px) {
  .star img {
    width: 18px;
    height: 18px;
  }
}

.drop {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  justify-content: space-between;
  border-radius: 10px;
  gap: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .drop {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 35px;
  }
}
@media screen and (max-width: 425px) {
  .drop {
    gap: 20px;
  }
}/*# sourceMappingURL=locations.css.map */